{% extends "layout.html" %}

{% block title %}{% trans %}Pridať nový znak{% endtrans %} - Glyfy{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-6 text-green-700">{% trans %}Pridať nový znak{% endtrans %}</h1>

<form action="{{ url_for('admin.add_glyph') }}" method="POST" enctype="multipart/form-data" class="bg-white p-6 rounded-lg shadow-md">
    <div class="mb-4">
        <label for="glyph_id" class="block text-gray-700">{% trans %}ID znaku{% endtrans %}</label>
        <input type="text" name="glyph_id" id="glyph_id" class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm" required />
    </div>
    <div class="mb-4">
        <label for="unicode" class="block text-gray-700">{% trans %}Unicode Decimálna Hodnota{% endtrans %}</label>
        <input type="number" name="unicode" id="unicode" class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm" required />
    </div>
    <div class="mb-4">
        <label for="svg_file" class="block text-gray-700">{% trans %}Nahrať SVG Súbor{% endtrans %}</label>
        <input type="file" name="svg_file" id="svg_file" accept=".svg" class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm" required />
    </div>
    <button type="submit" class="bg-green-600 text-white py-2 px-4 rounded shadow-md hover:bg-green-500">
        {% trans %}Pridať Znak{% endtrans %}
    </button>
</form>
{% endblock %}
