<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Glyfy{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800">
    {% include 'partials/header.html' %}

    <div class="container p-6 mx-auto max-w-full md:max-w-4xl lg:max-w-5xl xl:max-w-6xl">
        {% block content %}{% endblock %}
    </div>

    {% include 'partials/footer.html' %}
</body>
</html>
