{% extends "layout.html" %} {% block content %}
<h1>Glyfy - Guess the Glyph</h1>
<div class="glyph-grid">
    {% for glyph in glyphs.items %}
    <a href="{{ url_for('main.view_glyph', glyph_id=glyph.glyph_id) }}">
        <img src="{{ url_for('static', filename='assets/glyphs/' + glyph.glyph_id + '.svg') }}" alt="Glyph {{ glyph.glyph_id }}" />
    </a>
    {% endfor %}
</div>

<div class="pagination">
    {% if glyphs.has_prev %}
    <a href="{{ url_for('main.index', page=glyphs.prev_num) }}">Previous</a>
    {% endif %} {% if glyphs.has_next %}
    <a href="{{ url_for('main.index', page=glyphs.next_num) }}">Next</a>
    {% endif %}
</div>
{% endblock %}
